<!DOCTYPE html>
<html>
<head>
<link href="/static/css/gigs.css" rel="stylesheet">
<link rel='icon' type='image/ico' href='/static/images/musicnote-favicon.ico'>
<title>Peter Manheim - Drummer, Percussionist, Educator</title>
<meta content="The website of jazz musician Peter Manheim. Peter is a versatile drummmer, percussionist, and educator living in Chicago, IL. Find information on Peter's music, shows, and upcoming tour dates here." name="description"></meta>
</head>
<body>

<div id='container' style='position:absolute;'>
<div style='float:left; width:200px;'>
</div>
<div style='float:right;'>
<div style='float:left;'>

<div id='signin'>
<form>
<table id='signin-table'>
<!--<tr><td style="text-align:center;"><b>Password</b></td></tr>-->
<tr><td><input type='password' name='password' style='margin-right:0px'></td></tr>
<tr><td><button type='submit' id='submit' style="width:100%;">Enter</button></td></tr>
<tr id='error' style="display:none; color:red; text-align:center;"><td>Nope, try again.</td></tr>
</table>
</form>
</div>

<div id='view-gigs' style='display:none;'>
<button id='add'>Add Gig</button>
<button id='edit-news-btn'>Edit News</button>
<table id='gig-table' style='min-width:400px;'>
<tr class='headers'><th>Venue</th><th>Date</th><th>Location</th><th>Group</th><th>Remove</th>
{% if gigs %}
{% for gig in gigs %}
    <tr data-id='{{ gig.id }}'><td>{{ gig.venue }}</td><td class="gig-time" data-epoch='{{ gig.epoch }}'>{{ gig.date }}</td><td>{{ gig.location }}</td><td>{{ gig.band }}</td><td class='remove-gig'><b>X</b></td>
{% endfor %}
{% else %}
    <tr id='no-gigs'><td colspan=4>No gigs</td></tr>
{% endif %}
</table>
</div>

<div id='add-gig' style='display:none;'>
<table id='add-gig-table'>
<tr style='background-color:white;'><td style="border:none;font-size:20px;"><b><i>Add Gig</i></b></td></tr>
<tr class='label'><td>Venue</td></tr>
<tr class='input'><td><input class='required' id='venue' type='text' placeholder='Multikulti'></td></tr>
<tr class='input'><td><input id='website' type='text' placeholder='http://www.mkchi.org'></td></tr>
<tr class='label'><td>Date</td></tr>
<tr class='input'><td><input class='required' id='date' type='date'></td></tr>
<tr class='label'><td>Time</td></tr>
<tr class='input'><td><input id='time' type='time'></td></tr>
<tr class='label'><td>Location</td></tr>
<tr class='input'><td><input class='required' id='location' type='text' placeholder='Chicago, IL'></td></tr>
<tr class='label'><td>Group</td></tr>
<tr class='input'><td><input class='required' id='group' type='text' placeholder='Jam Session with Andrew Lawrence Quartet'></td></tr>
</table>
<button id='submit-gig' style='width:100%; height:30px;'>Submit</button>
</div>

<div id='edit-news' style='display:none;'>
<div contenteditable=true style='padding:15px; border: 1px dotted black;' id='news-content'>{{ news }}</div>
<button id='save-news'>Save</button>
</div>

</div>
</div> <!-- container -->

</body>
<script type='text/javascript' src='/static/js/jquery-latest.min.js'></script>
<script src="/static/js/gigs.js"></script>
</html>
